{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": ["es2015", "stage-0"]
    },
    "testing": {
      "presets": ["es2015"]
    }
  },
  "plugins": ["transform-class-properties"]
}
