body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, iframe {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: x-small;
  margin: 0;
  padding: 0;
}

.flat-list {
  list-style-type: none;
  display: inline;

  li {
    display: inline;
    white-space: nowrap;
  }
}
